* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
main {
    margin: 0 auto;
  width: 80%;
  margin-top: 100px;
}
#header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
  padding: 10px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8rem;
}

footer {
    margin: 0 auto;
  width: 80%;
  background-color: #c1c4c9;
  padding: 10px 80px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.footer-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.footer-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1.5rem;
}
